/* Overriding the styles of serve-index: https://github.com/expressjs/serve-index */
body {
    margin: 0;
    padding: 24px;
}

a {
    text-decoration: none;
    color: #00f;
}
a:hover {
    color: #00a;
}
a:visited {
    color: #551a8b;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.name {
    background-repeat: no-repeat;
    text-indent: 32px;
    min-width: 250px;
}
.size,
.date {
    color: #000;
    min-width: 150px;
}

#files > li {
    margin: 8px 0;
}
#files > li > a,
.header {
    display: flex;
}

.header .size:after {
    content: " (B)";
}

#directory-path {
    margin-bottom: 16px;
    font-size: 18px;
}
